/* General Body Styling */
body {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
}

nav button {
    color: white;
    border: none;
    font-size: 20px;
    height: 40px;
    width: 90%;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    background-color: #444; /* Darker shade for comic theme */
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3px 3px 0 #333;
}

nav button:hover {
    background-color: #555;
    transform: scale(1.05);
    box-shadow: 4px 4px 0 #333;
}

nav button:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 0 #333;
}

/* Links Styling */
a {
    text-decoration: none;
    color: inherit;
}
/* Button Styling for Specific IDs */
#gearBtn {
    background-color: #7a7a7a;
}
#gearBtn:hover {
    background-color: #8d8d8d;
}

#questionBtn {
    background-color: #faad48;
}

#questionBtn:hover {
    background-color: #ffbc65;
}

.red-button {
    background-color: rgb(155, 0, 0);
}
#xBtn {
    margin: 0;
}
#xBtn:hover {
    background-color: #cd0000;
    border-radius: 5px 0 0 5px; /* Rounded left corners */
}

.button-container {
    display: flex;
    align-items: center;
}

.button-container #deleteBtn {
    margin-left: -1px; /* Remove space between buttons */
}

#deleteConfirmBtn {
    color: white;
    background-color: #cd0000;
    border-color: #000;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}
#deleteConfirmBtn:hover {
    background-color: #a00000;
    box-shadow: 4px 4px 0 #5d0000; /* More pronounced shadow on hover */
    transform: translate(-2px, -2px); /* "Lifted" effect on hover */
}
#deleteConfirmBtn:active {
    box-shadow: 1px 1px 0 #5d0000; /* Subtle shadow when clicked */
    transform: translate(1px, 1px); /* Slight "press" effect when clicked */
}

/* Title Box Styling */
.title-box {
    position: relative;
    padding: 10px 15px;
    background-color: #ffe600;
    border: 3px solid #000;
    border-radius: 10px;
    box-shadow: 3px 3px 0px #000;
    font-family: 'Comic Sans MS', sans-serif;
    display: inline-block;
    margin-bottom: 5%;
}

.title-box span {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.5rem;
    color: #000;
}

#edit-title-btns {
    display: inline-block;

}
.edit-btn, .save-btn, .cancel-btn {
    background-color: #ff6347;
    color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    height: 100%;
    font-family: 'Comic Sans MS', sans-serif;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.edit-btn:hover, .save-btn:hover, .cancel-btn:hover {
    background-color: #ff4500;
    box-shadow: 2px 2px 0px #000;
}

.save-btn, .cancel-btn {
    display: none;
}

input#comic-title {
    border: 2px solid #000;
    padding: 5px;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 1.5rem;
    background-color: #fff;
    color: #000;
    width: auto;
    outline: none;
}

.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#addPanelBtn, #deletePanelBtn {
    background-color: #FFEB3B; /* Bright yellow for a comic book feel */
    border: 2px solid #333;    /* Black border */
    color: #333;               /* Black text */
    padding: 10px 20px;
    margin: 0 10px;
    font-family: 'Comic Sans MS', sans-serif; /* Comic book font */
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 0 #333; /* Comic book-style shadow */
}

#addPanelBtn:hover, #deletePanelBtn:hover {
    background-color: #FFC107; /* Slightly darker yellow on hover */
    box-shadow: 4px 4px 0 #333; /* More pronounced shadow on hover */
    transform: translate(-2px, -2px); /* "Lifted" effect on hover */
}

#addPanelBtn:active, #deletePanelBtn:active {
    box-shadow: 1px 1px 0 #333; /* Subtle shadow when clicked */
    transform: translate(1px, 1px); /* Slight "press" effect when clicked */
}

/* Text Box Styling */
.text-box {
    text-align: center;
    margin: 20px;
}

/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 5%;
    margin: auto;
}

/* Grid Items */
.grid-item {
    background-color: #f9f9f9; /* Slightly different to match comic theme */
    border: 2px solid #ddd; /* Match settings page border color */
    text-align: center;
    position: relative;
    height: 150px;
    width: 150px;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    box-shadow: 3px 3px 0 #333;
    overflow: hidden;
}

.grid-item:hover {
    background-color: #e0e0e0; /* Light hover effect */
    transform: scale(1.05);
    box-shadow: 4px 4px 0 #333;
}

.grid-item:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 0 #333;
}


.grid-item.create {
    background-color: #ffffff00;
    height: 75%; /* Slightly Smaller */
    cursor: pointer;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none;
}

#create-svg {
    cursor: pointer;
    box-shadow: 3px 3px 0 #333; /* Comic book-style shadow */
    background-color: #ffffff00; 
    transition: transform 0.2s, filter 0.2s ease-in-out;
    fill: #ff7b00;
}
#createBtn{
    cursor: pointer;
    border: none;
    background-color: #ffffff00;
    color: #000000;
    font-family:'Comic Sans MS', sans-serif;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.4em;
}

.grid-item.create:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
}

.grid-item.create:active {
    transform: scale(0.95);
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
}

/* Input and Submit Buttons within Grid Items */
.event-input {
    width: 80%;
    height: 20%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #ddd;
    border-radius: 3px;
}

.event-submit {
    width: 20%;
    height: 20%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 1px solid #ddd;
    border-radius: 3px;
    background-color: #ffcc00;
    box-shadow: 2px 2px 0 #333;
    cursor: pointer;
}

.event-submit img.submit-image {
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    position: absolute;
}

/* Generated Images */
.generated-image {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0px;
    left: 0;
    top: 0;
}

.scribble-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Pencil Element */
.pencil {
    position: absolute;
    width: 30%;
    height: 30%;
    z-index: 1;
}

/* Keyframes for Scribbling Animation */
@keyframes scribble {
    0% { left: 0; top: 0; }
    25% { left: 80%; top: 10%; }
    50% { left: 20%; top: 30%; }
    75% { left: 90%; top: 50%; }
    100% { left: 50%; top: 70%; }
}

/* Animate the Pencil */
.pencil {
    animation: scribble 2s linear infinite;
}
/* Highlight for Selection */
.highlight {
    border: 2px solid red;
}

/* Circles for Deletion */
.circle {
    position: absolute;
    margin: 5px;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid red;
    display: none;
}

.circle.selected {
    background-color: red;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
    display: flex;
}

#deleteDropdown {
    display: block;
    position: absolute;
    background-color: rgb(255, 31, 31);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 100%;
    height: 100%;
    top: 0;
}

#deleteDropdown #deleteBtn {
    color: white;
    background-color: rgb(255, 31, 31);
    border: 2px solid rgb(159, 0, 0);
    border-radius: 0 5px 5px 0;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 100%;
}

/* Hidden Elements */
.hidden {
    display: none !important;
    animation: none;
}

/* General Submit Image Styling */
.submit-image {
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    position: absolute;
}


/* Plus button */
.plus-button {
    width: 40px;
    height: 40px;
    background-color: #00aaff;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: auto;
}

.progress-display {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
}

/* Tutorial Popup Style */
.tutorial-popup {
    position: sticky;
    width: 92.5%;
    padding: 2.5%;
    background-color: #ffffff;
    border: 3px solid #000000;
    box-shadow: 10px 10px 0px #ff0000;
    border-radius: 8px;
    z-index: 1000;
    display: none;
    left: 0;
    bottom: 0;
}

.tutorial-popup h2 {
    margin-top: 0;
    color: #ff0000;
    text-shadow: 2px 2px 0px #000;
}

.tutorial-popup p {
    font-size: 14px;
}

.tutorial-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.tutorial-navigation button {
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ff0000;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
}

.tutorial-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.tutorial-popup h2 {
    margin-top: 0;
    color: #ff0000;
    text-shadow: 2px 2px 0px #000;
}

.tutorial-popup p {
    font-size: 14px;
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (the image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;

}

/* Caption of Modal Image */
.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    padding: 10px 0;
    background-color: rgb(255, 198, 0);
    color: black;
    font-family: 'Comic Sans MS', sans-serif;
    text-transform: uppercase;
    line-height: 120%;
    font-size: 120%;
}

/* The Close Button */
.close {
    position: fixed;
    top: 1%;
    right: 1%;
    color: #ff0000;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.comic-title-box {
    position: sticky;
    display: flex;
    justify-self: center;
    top: 0.25%;
    left: 1%;
    padding: 10px 15px;
    background-color: rgb(255, 68, 0);
    border: 5px solid #fff;
    border-radius: 15px;
    box-shadow: 3px 3px 0px #000;
    font-family: 'Comic Sans MS', sans-serif;
    color: #fff;
    text-align: center;
    z-index: 10; /* Higher than the overlay */
    pointer-events: none; /* Makes the title box non-interactive */
}

.comic-title-box span {
    display: inline-block;
    font-size: 125%; /* Slightly larger font size */
    color: #000; /* Black color for emphasis */
    text-transform: uppercase; /* Uppercase text for a bolder look */
}

.comic-overlay {
    position: fixed;
    top: 100%;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: scroll;
    border: 10px solid #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px #000000ee;
    color: #fff;
    animation: slideOverlayUp 1s ease-in-out forwards;
}

.close-overlay {
    position: absolute;
    top: 0%;
    right: 0%;
    color: #ff0000;
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
    font-size: 3em;
    z-index: 15; /* Higher than the title box */
}

.comic-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr)); /* Smaller min-width allows more items per row */
    gap: 1%; /* Space between images */
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.comic-panel {
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.panel-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

#comic-background {
    position: fixed;
    top: 100%;
    left: 100%;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: linear-gradient(#e66465, #9198e5);
    animation: slideComicUp 1s ease forwards;
}

@keyframes slideOverlayUp {
    from {
        top: 100%;
        left: 100%;
        transform: 100%;
    }
    to {
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes slideComicUp {
    from {
        top: 100%;
        left: 100%;
    }
    to {
        top: 0%;
        left: 0%;
    }
}
