/* Comic font for headings (Google Fonts: Bangers) */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
/* General Body Styling */
body {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
    max-height: 80px;
    width: 100vw;
}

nav button {
    color: white;
    border: none;
    width: 90%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    background-color: #444; /* Darker shade for comic theme */
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3px 3px 0 #333;
}

nav button:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 0 #333;
}

nav button:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 0 #333;
}

/* Links Styling */
a {
    text-decoration: none;
    color: inherit;
}
/* Button Styling for Specific IDs */
#gearBtn {
    background-color: #7a7a7a;
}
#gearBtn:hover {
    background-color: #8d8d8d;
}

#questionBtn {
    background-color: #faad48;
}

#questionBtn:hover {
    background-color: #ffbc65;
}

.red-button {
    background-color: rgb(155, 0, 0);
}

#rewriteBtn:hover {
    background-color: #cd0000;
    border-radius: 5px 0 0 5px; /* Rounded left corners */
}

.button-container {
    display: flex;
    align-items: center;
}

#deleteConfirmBtn {
    color: white;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    background-color: #cd0000;
    border: 2px solid #333;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}
#deleteConfirmBtn:hover {
    background-color: #bc0000;
    box-shadow: 4px 4px 0 #5d0000; /* More pronounced shadow on hover */
    transform: translate(-2px, -2px); /* "Lifted" effect on hover */
}
#deleteConfirmBtn:active {
    box-shadow: 1px 1px 0 #5d0000; /* Subtle shadow when clicked */
    transform: translate(1px, 1px); /* Slight "press" effect when clicked */
}
#deleteConfirmBtn:disabled {
    background-color: #977979; /* Greyed out color */
    cursor: not-allowed;
    box-shadow: none; /* No shadow when disabled */
}
#deleteConfirmBtn:disabled:hover {
    background-color: #977979; /* Maintain the same color on hover when disabled */
}

/* Title Box Styling */
.title-box {
    position: relative;
    padding: 10px 15px;
    background-color: #ffe600;
    border: 3px solid #000;
    border-radius: 10px;
    box-shadow: 3px 3px 0px #000;
    font-family: 'Comic Sans MS', sans-serif;
    display: flex;
    margin-bottom: 5%;
    margin-top: 2%;
    margin-right: auto;
    width: fit-content;
}

.title-box span {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.5rem;
    color: #000;
}

#edit-title-btns {
    display: inline-block;

}
.edit-btn, .save-btn, .cancel-btn {
    background-color: #ff6347;
    color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Comic Sans MS', sans-serif;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.edit-btn:hover, .save-btn:hover, .cancel-btn:hover {
    background-color: #ff4500;
    box-shadow: 2px 2px 0px #000;
}

.save-btn, .cancel-btn {
    display: none;
}

input#comic-title {
    border: 2px solid #000;
    padding: 5px;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 1.5rem;
    background-color: #fff;
    color: #000;
    width: auto;
    outline: none;
}

.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.tutorial-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    overflow: scroll;

}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (the image) */
.modal-content {
    display: block;
    width: 80vw;
    max-width: 500px;
    margin: auto;
    border: 4px double rgb(255, 198, 0);
    border-radius: 2px;
}

/* Caption of Modal Image */
.caption {
    margin: auto;
    display: block;
    width: 81vw;
    max-width: 505px;
    border: 4px double black;
    border-radius: 0px 0px 25% 25%;
    text-align: center;
    padding: 10px 5px;
    background-color: rgb(255, 198, 0);
    color: black;
    font-family: 'Comic Sans MS', sans-serif;
    text-transform: uppercase;
    line-height: 120%;
    font-size: 120%;
}

/* The Close Button */
.close {
    text-align: center;
    line-height: 0.75em;
    position: fixed;
    top: 2%;
    right: 1%;
    color: #e10000;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    height: 1em;
    width: 1em;
    font-size: 2.5em;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color, border, 0.1s ease-in-out;
    background-color: rgb(213, 213, 213);
}

.close:hover,
.close:focus {
    color: #ff0b0b;
    background-color: #959595;
    border: 2px solid white;
}


#addPanelBtn, #deletePanelBtn, #createBtn {
    background-color: #FFEB3B; /* Bright yellow for a comic book feel */
    border: 2px solid #333;    /* Black border */
    color: #333;               /* Black text */
    padding: 10px 20px;
    margin: 0 10px;
    font-family: 'Comic Sans MS', sans-serif; /* Comic book font */
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 0 #333; /* Comic book-style shadow */
}

#createBtn {
    display: flex;
    justify-self: center;
    margin-bottom: 10px;
}

#addPanelBtn:hover, #deletePanelBtn:hover {
    background-color: #FFC107; /* Slightly darker yellow on hover */
    box-shadow: 4px 4px 0 #333; /* More pronounced shadow on hover */
    transform: translate(-2px, -2px); /* "Lifted" effect on hover */
}

#addPanelBtn:active, #deletePanelBtn:active {
    box-shadow: 1px 1px 0 #333; /* Subtle shadow when clicked */
    transform: translate(1px, 1px); /* Slight "press" effect when clicked */
}

.loading-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.loader {
    width: 15%;
    aspect-ratio: 1 / 1;
    border: 3px solid #ff3a00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    animation: pulse 1s linear infinite;
}
.loading:after {
    content: '';
    position: absolute;
    width: 115%;
    height: 115%;
    border: 3px solid #ff6638;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% { transform: translate(-50%, -50%) scale(0) }
  60% , 100% { transform: translate(-50%, -50%)  scale(1)}
}
@keyframes pulse {
  0% , 60% , 100%{ transform:  scale(1) }
  80% { transform:  scale(1.2)}
}

/* Text Box Styling */
.text-box {
    text-align: center;
    margin: 20px;
}

/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(46%, 1fr));
    gap: 3%;
    padding: 5%;
    margin: auto;
    overflow-y: scroll;
    max-height: none;
}

/* Grid Items */
.grid-item {
    background-color: #f9f9f9;
    border: 3px double black;
    text-align: center;
    position: relative;
    height: fit-content; /* Ensure it takes up full height */
    width: 100%; /* Ensure it takes up full width */
    max-width: 45vw;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    box-shadow: 3px 3px 0 #333;
    overflow: hidden;
    aspect-ratio: 1 / 1; /* Ensures grid item has a consistent width to height ratio */
    box-sizing: border-box;
}

.grid-item:hover {
    background-color: #e0e0e0; /* Light hover effect */
    transform: scale(1.05);
    box-shadow: 4px 4px 0 #333;
}

.grid-item :active {
    transform: scale(0.95);
    box-shadow: 2px 2px 0 #333;
}

.input-container:active{
    transform: scale(1);
    box-shadow: 0px;
}


.grid-item.create {
    background-color: #ffffff00;
    height: 75%; /* Slightly Smaller */
    cursor: pointer;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none;
    max-width: 400px;
}

#create-svg {
    cursor: pointer;
    background-color: #ffffff00; 
    transition: transform 0.2s, filter 0.2s ease-in-out;
    fill: #ff7b00;
}

.input-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    border: 1px solid #ddd;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.event-input {
    width: 100%;
    height: 80%;
    resize: none; /* Prevents manual resizing by the user */
    overflow-wrap: break-word; /* Ensures long words break correctly */
    line-height: 0.85; /* Adjusts the line height for better readability */
    padding: 1.5%; /* Adjusts padding for better aesthetics */
    border: none;
    font-size: 1.3em;
    overflow-y: auto
}
.event-input-btns {
    display: flex;
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: #f0f0f0; /* Light background for contrast */
    border: 1px solid #ddd; /* Matches the grid item border */

}
.event-submit, .mic-button {
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}
.event-submit {
    background-color: #ffcc00;
    
}
.mic-button {
    background-color: #e8e8e8;
    padding: 2%
}
.mic-button:hover{
    background-color: #bbbbbb;
}
.mic-icon, .submit-image{
    width: 100%;
    height: 100%;
}


/* Generated Images */
.generated-image {
    width: 100%;
    height: 100%;
    padding: 0px;
}

.scribble-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Pencil Element */
.pencil {
    position: absolute;
    width: 30%;
    height: 30%;
    z-index: 1;
}

/* Keyframes for Scribbling Animation */
@keyframes scribble {
    0% { left: 0; top: 0; }
    25% { left: 80%; top: 10%; }
    50% { left: 15%; top: 30%; }
    75% { left: 90%; top: 50%; }
    100% { left: 50%; top: 60%; }
}

/* Animate the Pencil */
.pencil {
    animation: scribble 2s linear infinite;
}
/* Highlight for Selection */
.highlight {
    border: 2px solid red;
}

/* Circles for Deletion */
.circle {
    position: absolute;
    z-index: 3;
    margin: 5px;
    top: 5px;
    right: 5px;
    width: 15%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: white;
    border: 1px solid red;
    display: none;
}

.circle.selected {
    background-color: red;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
    display: flex;
}

#rewriteDropdown {
    display: block;
}

#rewriteConfirmBtn {
    background-color: rgb(255, 31, 31);
    border: 2px solid rgb(159, 0, 0);
    border-radius: 0 5px 5px 0;
    padding: 5px;
    text-align: center;
}

/* Hidden Elements */
.hidden {
    display: none !important;
    animation: none;
}


/* Plus button */
.plus-button {
    width: auto;
    height: auto;
    aspect-ratio: 1 / 1;
    text-shadow: -1px -1px 0 #006ba1, 1px -1px 0 #006ba1, -1px 1px 0 #006ba1, 1px 1px 0 #006ba1;
    border: none;
    background-color: #00000000;
    color: #e5e5e5;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: auto;
    transition: transform 0.25s, color 0.25s, background-color 0.25s;
}

.plus-button:hover {
    color: #242a2f;
    transform: scale(1.25);
    background-color: #00000000;
}

/* Tutorial Popup Style */
.tutorial-popup {
    position: sticky;
    width: 92.5%;
    padding: 1%;
    background-color: #ffffff;
    border: 3px solid #000000;
    box-shadow: 10px 10px 0px #ff0000;
    border-radius: 8px;
    z-index: 1000;
    display: none;
    left: 0;
    bottom: 0;
}

.tutorial-popup h2 {
    margin-top: 0;
    line-height: 100%;
    color: #ff0000;
    text-shadow: 2px 1px 0px #000;
}

.tutorial-popup p {
    font-size: 14px;
}

.tutorial-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.tutorial-navigation button {
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ff0000;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
}

#close-tutorial-btn {
    position: relative;
}

#tutorial-overlay {
  position: fixed;
  top: 0; left: 0; width: 100vw; height: 100vh;
  background: rgba(20, 20, 30, 0.96);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: inherit;
}
#tutorial-overlay #tutorial-tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1vw;
  margin-top: 10vh;
}
#tutorial-overlay .tutorial-tab {
    background: #3a2222;
    color: #fff;
    border: none;
    outline: none;
    padding: 2% 2%;
    border-radius: 1.3vh 1.3vh 0 0;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    opacity: 0.8;
    width: max-content;
}
#tutorial-overlay .tutorial-tab.active {
    background: #d63838;
    color: #fff4c8;
    opacity: 1;
}

#tutorial-overlay .tutorial-video {
  width: 100vw;
  max-width: 1000px;
  margin: auto;
  object-fit: contain;
  display: none;
  background: #000;
  border-radius: 2vh;
  box-shadow: 0 0 2vw #000a;
  position: relative;
}
#tutorial-overlay .tutorial-video:first-child {
  display: block;
}

.tutorial-caption {
    width: 95vw;
    max-width: 1000px;
}

/* Remove obsolete slider/gallery styles */
.tutorial-slider, .slider-3d, .slider-dot, .slider-arrow, .slider-track, .slider-panel {
  display: none !important;
}

/* Title Box Adjustments for Comic Effect */
.comic-title-box {
    padding: 5px 5px;
    background-color: rgb(255, 68, 0);
    border: 5px solid #fff;
    border-radius: 15px;
    box-shadow: 3px 3px 0px #000;
    font-family: 'Comic Sans MS', sans-serif;
    color: #fff;
    text-align: center;
    z-index: 10; /* Higher than the overlay */
    pointer-events: none; /* Makes the title box non-interactive */
    box-sizing: border-box;
    width: 100%; /* Ensure the title box adjusts with screen size */
}

.comic-title-box span {
    display: inline-block;
    max-height: 10vh;
    overflow: scroll;
    font-size: 120%; /* Slightly larger font size */
    color: #000; /* Black color for emphasis */
    text-transform: uppercase; /* Uppercase text for a bolder look */
}

.comic-overlay {
    margin-top: 5px;
    background: linear-gradient(135deg, rgb(255 251 238) 0%, rgb(236 230 224) 50%, rgba(255, 255, 255, 1) 100%);
    border-radius: 18px;
    box-shadow: 0 0 0 2px gray, 0 0 0 4px #000;
    z-index: 5;
    border: 2px solid black;
    color: #fff;
    animation: slideOverlayUp 1s ease-in-out forwards;
    overflow-y: scroll;
    box-sizing: border-box;
    height: 95vh;
}

.close-overlay {
    position: absolute;
    bottom: 1px;
    top: revert;
    right: 1px;
    font-size: 1.3rem;
    color: #ff1111;
    z-index: 15; /* Ensure it stays above everything */
    cursor: pointer;
}

.row {
    display: flex;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-around; /* Spread out the 3 panels equally */
}

.row-3 {
    grid-template-columns: repeat(3, 1fr); /* 3 panels per row */
}

.row-2 {
    grid-template-columns: repeat(2, 1fr); /* 2 panels per row */
}


.panel-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black; /* Consistent background */
    flex-grow: 1; /* Allow to grow to fill available space */
}

/* Comic Panel Enhancements */
.comic-panel {
    border: 4px double #4e4e4e;
    transition: box-shadow 0.2s, transform 0.2s;
    overflow: visible;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.comic-grid {
    flex: 1 1 auto;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(10%, 1fr));
    gap: 1px;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    overflow-y: scroll;
    box-sizing: border-box;
    align-items: stretch;
    justify-items: stretch;
    background-color: #e8ded1;
    border: 4px double #424242;
    margin-bottom: 2%;
}

.panel-image {
    background-color: #040404;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.comic-panel:hover .panel-image {
    box-shadow: 4px 4px 4px #000;
    transform: scale(1.02);
    z-index: 2;
}

.comic-title-box {
    font-family: 'Bangers', 'Comic Sans MS', cursive, sans-serif;
    letter-spacing: 2px;
}

#comic-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(#e66465, #9198e5);
    animation: slideComicUp 1s ease forwards;
}

#noLocalStorage {
    position: fixed;
    left: 35%;
    top: 40%;
    font-size: 4rem;
}

#noLocalStorageBackground {
    height: 100%;
    width: 100%;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00ffc8;
}


@keyframes slideOverlayUp {
    from {
        top: 100%;
        left: 100%;
    }
    to {
        top: 15%;
        left: 0%;
    }
}

@keyframes slideComicUp {
    from {
        top: 100%;
        left: 100%;
    }
    to {
        top: 0%;
        left: 0%;
    }
}

#tutorial-slider {
    aspect-ratio: 16 / 9;
    width: 75vw;
    margin: 80px auto;
    perspective: 750px;
    transform-style: preserve-3d;
}

#tutorial-slider label {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 400ms ease;
}

#tutorial-slider label video {
    width: 100%;
    height: 100%;
}

#slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75vw;
  margin: 20px auto 0 auto;
}

input[type=radio] {
  position: relative;
  top: 0;
  left: 0;
  width: 2vw;
  min-width: 15px;
  aspect-ratio: 1 / 1;
  margin: 0 10px;
  opacity: 0.7;
  transform: none;
  cursor: pointer;
  display: inline-block;
}

input[type=radio]:checked {
  opacity: 1;
}

#slide1 {
  background: yellow;
}

#slide2 {
  background: yellowgreen;
}

#slide3 {
  background: dodgerblue;
}


/* Slider Functionality */

/* Active Slide */
#s1:checked ~ #slide1 {
  transform: translate3d(0%, 0, 0px);
  box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
}
#s2:checked ~ #slide2 {
  transform: translate3d(0%, 0, 0px);
  box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
}
#s3:checked ~ #slide3 {
  transform: translate3d(0%, 0, 0px);
  box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
}

/* Next Slide */
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide1 {
  transform: translate3d(15%, 0, -100px);
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
}

/* Previous Slide */
#s1:checked ~ #slide3,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2 {
  transform: translate3d(-15%, 0, -100px);
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
}


@media (max-width: 380px) {
    nav svg{
        display: none;
    }
    nav button {
        font-size: 1.5em;
        width: 100%;
        padding: 10px;
    }
    .edit-btn, .save-btn, .cancel-btn {
        font-size: 14px;
        padding: 3px;
    }
    .title-box span, .comic-title-box span, #createBtn{
        font-size: 1.2rem;
    }
    #rewriteConfirmBtn {
        font-size: 0.7em;
    }
    #addPanelBtn, #deletePanelBtn {
        font-size: 1em;
        padding: 6px 12px;
    }
    .caption, .tutorial-navigation > button, .tutorial-popup > p {
        font-size: 1em;
    }
    .tutorial-tab {
        font-size: 0.67em;
    }
    .close, .tutorial-popup h2 {
        font-size: 1.8em;
    }
    .tutorial-caption {
        font-size: 1em;
    }
}

@media (max-width: 400px) {
    nav button {
        font-size: 1.2em;
        width: 90%;
    }
    .edit-btn, .save-btn, .cancel-btn{
        font-size: 15px;
        padding: 3px;
    }
    .title-box span, .comic-title-box span, #createBtn{
        font-size: 1.3rem;
    }
    #rewriteConfirmBtn {
        font-size: 0.8em;
        padding: 5px;
    }
    #addPanelBtn, #deletePanelBtn {
        font-size: 1em;
        padding: 8px 14px;
    }
    .close, .tutorial-popup h2 {
        font-size: 1.9em;
    }
}

@media (min-width: 400px) and (max-width: 479px) {
    nav button {
        font-size: 1.3em;
        padding: 5px;
    }
    .edit-btn, .save-btn, .cancel-btn {
        font-size: 16px;
        padding: 3px;
    }
    .title-box span, .comic-title-box span, #createBtn{
        font-size: 1.5rem;
    }
    #rewriteConfirmBtn {
        font-size: 1em;
        padding: 2px;
    }
    #addPanelBtn, #deletePanelBtn {
        font-size: 1em;
        padding: 10px 18px;
    }
    .tutorial-tab {
        font-size: 0.9em;
    }
    .caption, .tutorial-navigation > button, .tutorial-popup > p {
        font-size: 1.2em;
    }
    .close, .tutorial-popup h2 {
        font-size: 2em;
    }
}

@media (min-width: 480px) {
    nav button {
        font-size: 1.8em;
    }
    .edit-btn, .save-btn, .cancel-btn {
        font-size: 22px;
        padding: 8px 12px;
    }
    .title-box span, .comic-title-box span, #createBtn{
        font-size: 1.6rem;
    }
    #rewriteConfirmBtn {
        font-size: 1.3em;
        padding: 3px;
    }
    #addPanelBtn, #deletePanelBtn, #createBtn {
        font-size: 1.6em;
        padding: 3px;
    }
    .event-input {
        font-size: 1.3em;
    }
    .tutorial-tab {
        font-size: 1.035em;
    }
    .caption, .tutorial-navigation > button, .tutorial-popup > p {
        font-size: 1.3em;
    }
    .close, .tutorial-popup h2 {
        font-size: 2em;
    }
    .grid-container {   
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    }
}

@media (min-width: 768px) {
    nav button {
        font-size: 2.3em;
    }
    .edit-btn, .save-btn, .cancel-btn {
        font-size: 30px;
        padding: 4px;
    }
    .title-box span, #createBtn{
        font-size: 2.2rem;
    }
    .comic-title-box span{
        font-size: 2.4rem;
    }
    #rewriteConfirmBtn {
        font-size: 1.8em;
    }
    #addPanelBtn, #deletePanelBtn, #createBtn{
        font-size: 2em;
        padding: 12px 23px;
    }
    .event-input{
        font-size: 1.7em;
    }
    .tutorial-tab {
        font-size: 1.5em;
    }
    .caption, .tutorial-navigation > button, .tutorial-popup > p {
        font-size: 1.4em;
    }
    .close, .tutorial-popup h2 {
        font-size: 3em;
    }
    .plus-button {
        font-size: 6em;
    }
    .grid-container {   
        grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
    }
}

@media (min-width: 1000px) {
    nav button{
        font-size: 2.5em;
    }
    .edit-btn, .save-btn, .cancel-btn {
        font-size: 35px;
        padding: 5px;
    }
    .title-box span, #createBtn{
        font-size: 2.4rem;
    }
    .comic-title-box span{
        font-size: 2.7rem;
    }
    #rewriteConfirmBtn {
        font-size: 1.9em;
    }
    #addPanelBtn, #deletePanelBtn {
        font-size: 2.1em;
        padding: 15px 25px;
    }
    .tutorial-tab {
        font-size: 1.7em;
    }
    .event-input , .caption , .tutorial-navigation > button, .tutorial-popup > p{
        font-size: 1.9em;
    }
    .tutorial-caption {
        font-size: 1.2em;
    }
}
