body {
	align-items: center;
	background-color: #f0f0f0;
	display: flex;
	flex-direction: column;
	font-family: "Comic Sans MS", sans-serif;
	justify-content: center;
	margin: 0;
    height: 100%;
}

/* General container styling */
.attributes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 100%;
}

/* Buttons Styling */
button, #upload-image-input{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

#image-capture-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

video, canvas {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: none;
}

#capture-btn, #take-picture-btn, #confirm-avatar-btn, #upload-image-input{
    background-color: rgb(255, 198, 0);
    border: none;
    padding: 5px 10px;
    font-size: 0.5em;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
	width: fit-content;
}

#uploaded-image {
	margin: auto;
	border-radius: 3%;
	border: 2px solid black;
	max-width: 100%; 

}
#capture-btn {
	display: none;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffcc00;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#capture-btn:hover, #take-picture-btn:hover, #confirm-avatar-btn:hover, #upload-image-input:hover {
    background-color: rgb(255, 170, 0);
}

#generate-container {
    text-align: center;
    margin-top: 20px;
}

#down-arrow {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
	color: black;
    animation: bounce 1s infinite;
}
#generate-avatar-btn {
    background-color: #ffcc00;
    border: none;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#generate-avatar-btn:hover{
    background-color: rgb(0, 80, 200);
}

#avatar-image {
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
    border-radius: 3%;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}


.login-container,
.signup-container,
.attributes-container {
	color: red;
	text-shadow: 1px 1.5px black;
	background: #fff;
	border: 5px solid #000;
	box-shadow: 10px 10px 0 #ff0000, 10px 10px 0 5px #000;
	display: none;
	margin-bottom: 2%;
	max-width: 300px;
	opacity: 0;
	padding: 20px;
	padding-top: 0;
	text-align: center;
	transition: opacity 0.5s ease-in-out;
	width: 60%;
}

.title h1 {
	color: black;
	font-size: 2em;
	margin-bottom: 20px;
}

.subtitle {
	color: #000;
	font-size: 1.5em;
	margin-bottom: 15px;
}

.input-group {
	margin-bottom: 15px;
	text-align: left;
}

label {
	display: block;
	font-size: 1.6em;
	margin-bottom: 5px;
}

input {
	border: 2px solid #000;
	box-sizing: border-box;
	font-size: 1em;
	padding: 4px;
	width: 100%;
}

.login-button,
.signup-button,
.forgot-password-link {
	background-color: red;
	border: 2px solid #000;
	text-shadow: 1px 1.5px #000;
	color: #fff;
	cursor: pointer;
	font-size: 1.2em;
	padding: 10px;
	transition: background-color 0.3s;
	width: 100%;
}

.attribute {
	align-items: center;
	display: flex;
	margin-bottom: 10px;
}

.attribute input {
	flex: 2;
}

.attribute button {
	background-color: red;
	border: none;
	color: #fff;
	cursor: pointer;
	margin-left: 10px;
	padding: 5px 10px;
}

.buttons {
	display: flex;
	font-size: 1em;
	justify-content: space-between;
	margin-top: 20px;
}

option {
	font-size: 1em !important;
	padding: 0 !important;
	width: 50%;
}

#title {
	background-color: red;
	border: 5px solid #000;
	color: black;
	border-radius: 10px;
	box-shadow: 10px 10px 0 #fff;
	font-family: "Comic Sans MS", sans-serif;
	margin-bottom: 2%;
	margin-top: 2%;
	max-width: 90%;
	padding: 15px;
	text-align: center;
	transition: all 0.3s ease-in-out;
}

.title-text {
	display: block;
	font-size: 2.5em;
	font-weight: bold;
	text-transform: uppercase;
}

.subtitle-text {
	display: block;
	font-size: 1.2em;
	font-weight: normal;
	margin-top: 10px;
	text-shadow: 1px 0 #000;
	color: white;
}

.recover-password-container {
	background: #fff;
	border: 5px solid #000;
	box-shadow: 10px 10px 0 #ff0000, 10px 10px 0 5px #000;
	display: none;
	opacity: 0;
	padding: 20px;
	text-align: center;
	transition: opacity 0.5s ease-in-out;
}

.recover-button {
	background-color: red;
	border: 2px solid #000;
	color: #fff;
	cursor: pointer;
	font-size: 0.9em;
	padding: 10px;
	transition: background-color 0.3s;
	width: 100%;
}

.recovery-message {
	color: green;
	font-size: 1em;
	margin-top: 15px;
	text-align: center;
}

#recoverPasswordLink {
	color: #fff;
}

select {
	width: auto !important;
}

.login-container.show,
.signup-container.show,
.attributes-container.show,
.recover-password-container.show {
	display: block;
	opacity: 1;
}

.login-button:hover,
.signup-button:hover,
.forgot-password-link:hover,
button:hover,
.recover-button:hover {
	background-color: #c00;
}

@media (max-width: 380px) {
	.login-container,
	.signup-container,
	.attributes-container,
	.recover-password-container,
	#title {
		max-width: 93%;
	}

	.title-text {
		font-size: 1.4em;
	}

	.subtitle-text {
		font-size: 1em;
	}

	label {
		font-size: 1.2em;
	}

	input,
	select,
	textarea {
		font-size: 1em;
		line-height: 1em;
		padding: 5px;
		width: 95%;
	}

	.login-button,
	.signup-button,
	.recover-button,
	.submit-button {
		font-size: 1em;
		padding: 8px;
	}

	#recoverPasswordLink,
	.recovery-message {
		font-size: 0.8em;
	}

	#capture-btn, #take-picture-btn, #confirm-avatar-btn, #upload-image-input, #generate-avatar-btn {
		font-size: 0.4rem;
	}
}

@media (max-width: 400px) {
	#title {
		max-width: 93%;
	}

	.attribute {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
	}

	.attribute label {
		margin-bottom: 5px;
	}

	.attribute button {
		margin-left: 0;
		margin-top: 10px;
	}

	.title-text {
		font-size: 1.6em;
	}

	input,
	select,
	textarea {
		font-size: 1em;
		line-height: 1em;
		padding: 8px;
		width: 95%;
	}

	.login-button,
	.signup-button,
	.recover-button,
	.submit-button {
		font-size: 1.2em;
		padding: 10px;
	}

	#recoverPasswordLink,
	.recovery-message {
		font-size: 1em;
	}

	.subtitle-text,
	label {
		font-size: 1.1em;
	}

	#capture-btn, #take-picture-btn, #confirm-avatar-btn, #upload-image-input, #generate-avatar-btn {
		font-size: 0.6rem;
	}
}

@media (min-width: 400px) and (max-width: 479px) {
	.title-text {
		font-size: 1.8em;
	}

	.subtitle-text {
		font-size: 1.4em;
	}

	label {
		font-size: 1.3em;
	}

	input,
	select,
	textarea {
		font-size: 1em;
		line-height: 1em;
		padding: 4px;
		width: 95%;
	}

	.login-button,
	.signup-button,
	.recover-button,
	.submit-button {
		font-size: 1.2em;
		padding: 8px;
	}

	#recoverPasswordLink,
	.recovery-message {
		font-size: 0.9em;
	}

	#title,
	.login-container,
	.signup-container,
	.attributes-container,
	.recover-password-container {
		max-width: 93%;
	}

	#capture-btn, #take-picture-btn, #confirm-avatar-btn, #upload-image-input, #generate-avatar-btn {
		font-size: 0.7rem;
	}
}

@media (min-width: 480px) {
	#title {
		max-width: 93%;
	}

	.login-container,
	.signup-container,
	.attributes-container,
	.recover-password-container {
		max-width: 90%;
	}

	.title-text {
		font-size: 2em;
	}

	.subtitle-text {
		font-size: 1.7em;
	}

	label {
		font-size: 1.6em;
	}

	input,
	select,
	textarea {
		font-size: 1.1em;
		line-height: 1.1em;
		padding: 6px;
		width: 95%;
	}

	.login-button,
	.signup-button,
	.recover-button,
	.submit-button {
		font-size: 1.3em;
		padding: 8px;
	}

	#recoverPasswordLink,
	.recovery-message {
		font-size: 1.1em;
	}

	#capture-btn, #take-picture-btn, #confirm-avatar-btn, #upload-image-input, #generate-avatar-btn {
		font-size: 1.1rem;
	}
}

@media (max-width: 600px) {
    button {
        font-size: 1rem;
        padding: 10px 15px;
    }
    
    video, canvas, #avatar-image {
        width: 95%;
    }

    #down-arrow {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
	#title {
		line-height: 100%;
		max-width: 90%;
	}

	.login-container,
	.signup-container,
	.attributes-container,
	.recover-password-container {
		max-width: 70%;
	}

	.title-text {
		font-size: 2.4em;
		line-height: 100%;
	}

	.subtitle-text {
		font-size: 2em;
		line-height: 100%;
	}

	input,
	select,
	textarea {
		font-size: 1.4em;
		line-height: 90%;
		padding: 5px;
		width: 95%;
	}

	#recoverPasswordLink,
	.recovery-message {
		font-size: 1.3em;
	}

	label,
	.login-button,
	.signup-button,
	.submit-button,
	.recover-button {
		font-size: 1.5em;
	}

	#capture-btn, #take-picture-btn, #confirm-avatar-btn, #upload-image-input, #generate-avatar-btn {
		font-size: 1.3rem;
	}
}

@media (min-width: 1000px) {
	#title {
		line-height: 100%;
		max-width: 93%;
	}

	.title-text {
		font-size: 3em;
		line-height: 100%;
	}

	.subtitle-text {
		font-size: 2.5em;
		line-height: 100%;
	}

	label {
		font-size: 1.7em;
	}

	input,
	select,
	textarea {
		font-size: 1.8em;
		line-height: 90%;
		padding: 5px;
		width: 95%;
	}

	.login-button,
	.signup-button,
	.submit-button,
	.recover-button {
		font-size: 1.9em;
	}

	#recoverPasswordLink,
	.recovery-message,
	.recovery-message {
		font-size: 1.4em;
	}

	#capture-btn, #take-picture-btn, #confirm-avatar-btn, #upload-image-input, #generate-avatar-btn{
		font-size: 1.5rem;
	}
}
