body {
    font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
    background-color: #faf3e0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #ffcc00;
    padding: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #000;
    margin-bottom: 2%;
}

nav a button {
    background-color: #ff0000;
    color: white;
    border: 4px solid #000;
    border-radius: 10px;
    padding: 0.625rem 1.25rem;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    text-shadow: 1px 1px #000;
}

nav a button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 2px #ffcc00;
}

.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    padding: 5%;
    background-color: #f4f4f9;
    border: 4px solid #000;
    border-radius: 15px;
    box-shadow: 10px 10px 0px 0px #000;
}

.settings-container button {
    background-color: #00bfff;
    color: #fff;
    border: 4px solid #000;
    border-radius: 10px;
    padding: 1rem 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    text-shadow: 0.5px 0.5px #000;
}

form > button:active {
    transform: scale(0.9);
    box-shadow: 0px 0px 15px 3px #b08d00;
}

#logoutBtn {
    background-color: #ff6666;
}
#logoutBtn:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 3px #00bfff;
}

.pre-set-title-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

/* Modal Styles */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #ffcc00;
    margin: 0% auto;
    padding: 1.875rem;
    border: 4px solid #000;
    border-radius: 15px;
    max-width: 850px;
    box-shadow: 10px 10px 0px 0px #000;
}

.close {
    color: #000;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
}

input, select{
    border: 4px solid #000;
    border-radius: 10px;
    box-shadow: 3px 3px 0px 0px #000;
    background-color: #fff;
    padding: 5px;
	width: fit-content;
    line-height: 1em;
}

button,  #upload-image-label, #upload-image-input {
    margin-top: 0.625rem;
    background-color: #00bfff;
    color: white;
    border: 4px solid #000;
    border-radius: 10px;
    padding: 0.625rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    text-shadow: 0.5px 0.5px #000;
}

button:hover {
    transform: scale(1.1);
    text-shadow: 0.5px 0.5px #ffcc00;
    box-shadow: 0px 0px 10px 2px #ffcc00;
    color:#003560;
}
#title-input {
    width: 95%;
    max-width: 500px;
}
#camera-container {
    position: relative;
    display: none;
    width: 100%;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

video, canvas {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: block;
}

#capture-btn, #generate-avatar-btn, #upload-image-label, #upload-image-input {
    width: auto;
    margin-top: 5%;
}

#capture-btn {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    padding: 5px;
}

#generate-container {
    text-align: center;
    margin-top: 20px;
}

#avatar-image {
    display: block;
    width: 30%;
}

#avatar-display-image {
    display: flex;
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
    border-radius: 10px;
}

#down-arrow {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
	color: black;
    animation: bounce 1s infinite;
}

#generate-avatar-btn {
	margin-top: 10px;
}

#avatar-image {
    display: none;
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
    border-radius: 10px;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.hidden {
    display: none !important;
}

/* Media Queries */
@media screen and (min-width: 420px) {
    nav a button, .settings-container button, button {
        font-size: 1.5rem;
        padding: 0.75rem 1.5rem;
    }

    video, canvas, #avatar-image {
        width: 65%;
    }

    #down-arrow {
        font-size: 2rem;
    }
    .modal-content {
        padding: 1% 2rem;
        font-size: 1.2rem;
    }

    input, label, select {
        font-size: 1em;
		line-height: 1em;
        margin: 2px;
    }
}

@media screen and (min-width: 768px) {
    nav {
        padding: 0.5rem 1rem;
    }

    nav a button, .settings-container button, button {
        font-size: 1.8rem;
    }

    video, canvas, #avatar-image {
        width: 100%;
    }

    .modal-content {
        padding: 2.5rem;
        font-size: 1.4rem;
    }

    label {
        font-size: 1.2em;
    }
    input,  select {
        font-size: 1.1em;
		line-height: 1.1em;
        margin: 4px;
    }
}

@media screen and (min-width: 1024px) {
    nav a button, .settings-container button, button {
        font-size: 2rem;
        padding: 1rem 2rem;
    }

    .modal-content {
        padding: 3rem;
        font-size: 1.6rem;
    }

    label {
        font-size: 1.3em;
    }

    input, select {
        font-size: 1.2em;
        margin: 5px;
    }
}